.carb-max {
  /* background-image: url("/images/maxcarb.png");
  background-size: 30%;
  background-repeat: no-repeat; */

  font-size: 500%;
  color: rgb(0, 0, 0);

  padding: 90px;
  margin: auto;
  width: 500px;
  height: 500px;

  position: absolute;
  top: 11%;
  left: 31%;
}

#maxcarb {
  position: relative;
  left: 30%;
  width: 18%;
}

/* .maxcarbtitle {
  display: flex;
  justify-content: center;
  height: 150px;
} */

/* .maxcarbtitle > img {
  position: relative;
  top: -25px;

} */

