.carb-max {
  /* background-image: url("/images/maxcarb.png");
  background-size: 30%;
  background-repeat: no-repeat; */

  position: absolute;
  top: 23%;
  left: 40%;
  
  font-size: 500%;
  text-align: center;
}

#maxcarb {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 12%;
}

/* .maxcarbtitle {
  display: flex;
  justify-content: center;
  height: 150px;
} */

/* .maxcarbtitle > img {
  position: relative;
  top: -25px;

} */

