.carb-count {
  /* background-image: url("/images/number-counter.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 150px; */

  position: absolute;
  top: 23%;
  left: 59%;
  
  font-size: 500%;
  text-align: center;
}

#carbctimg {
  position: absolute;
  top: 20%;
  left: 55%;
  width: 12%;
}
