.carb-count {
  background-image: url("/images/number-counter.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 340px;

  position: relative;
  margin-left: auto;
  margin-right: auto;
  
  font-size: 1000%;
  text-align: center;
}

