.carb-max {
  background-image: url("/images/carbmax-border.png");
  background-size: 100%;

  font-weight: bolder;
  font-size: 120px;
  color: rgb(235, 94, 0);

  padding: 90px;
  margin: auto;
  width: 100px;
  height: 100px;

}

.maxcarbtitle {
  display: flex;
  justify-content: center;
  height: 150px;
}

