.carb-count {
  /* background-image: url("/images/number-counter.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 150px; */

  position: absolute;
  top: 25%;
  left: 47%;
  
  font-size: 4vmax;
  text-align: center;
}

#carbctimg {
  position: absolute;
  top: 20%;
  left: 41%;
  width: 17vw;
  height: 15vh;
}
