.food-bank-div {
  position: absolute;
  bottom: 20%;
  left: 5%;
  
  height: 40%;
  width: 25%;

  border: solid black 3px;

  background-image: url("/images/picnic-blanket.png");
  background-size: 50%;
}


#food-bank {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* box-sizing: content-box; */
  width: 30%;
}

#food-bank > li > img {
  display: flex;
  width:  100px;
  height: 100px;
}
