.food-bank-div {
  position: absolute;
  bottom: 20%;
  left: 1%;
  
  height: 40%;
  width: 25%;

  border: dashed black 3px;

  background-image: url("/images/picnic-blanket.png");
  background-size: 50%;
}


#food-bank {
  display: grid;
  
  grid-template-columns: repeat(2, 1fr);
  width: 30%;

  border: 0;
  background-color: transparent;
}

#food-bank > li {
  padding: 20px;
  padding-right: 150px;
  border: 0;
  background-color: transparent;
}

#food-bank > li > img {
  display: flex;
  width:  100px;
  height: 100px;

  border: 0;
  background-color: transparent;
}
