.food-bank-title {
  font-size: 50px;
  font-weight: 900;
}


#food-bank {
  background-image: url("/images/picnic-blanket.png");
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* box-sizing: content-box; */
  width: 30%;
}

#food-bank > li > img {
  display: flex;
  width:  100px;
  height: 100px;
}
