#plate-container {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

#plate-container > #plate {
  width: 30%;
}

#plate-ul {
  position: absolute;

  width: 600px;
  height: 200px;
  transform: rotate(180deg);
}

#plate-ul > li {
  display: inline-block;
  transform: rotate(-180deg);
  width: 30%;
  border: 0;
  background-color: transparent;
  cursor: default;
}

#plate-ul > li > img {
  border: 0;
  width: 80%;
  height: auto;
  background-color: transparent;
  cursor: default;
}

