#plate-container {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

#plate-container > #plate {
  width: 33vw;
  height: 26vh;
}

#plate-ul {
  position: absolute;
  left: 33%;
  width: 25vw;
  height: 20vh;
  transform: rotate(180deg);
}

#plate-ul > li {
  display: inline-flex;
  transform: rotate(-180deg);
  width: 2vw;
  height: 18vh;
  padding: 7%;
  border: 0;
  background-color: transparent;
  cursor: default;
}

#plate-ul > li > img {
  border: 0;
  width: 9vw;
  height: auto;
  background-color: transparent;
  cursor: default;
}

#plate2 {
  position: absolute;
  left: 33%;
  top: 36%;
  width: 33vw;
  height: 26vh;
}
