#plate-container {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

#plate-container > #plate {
  /* display: block;
  margin-right: auto;
  margin-left: auto;


  height: auto; */
  
  width: 30%;
}

#plate-ul {
  position: absolute;


  background-color: yellow;
  opacity: 50%;
  width: 600px;
  height: 200px;
  transform: rotate(180deg);
}

#plate-ul > li {
  display: inline-block;
  transform: rotate(-180deg);
}

#plate-ul > li > img {
  margin: 0;
  height: 200px;
  width: 200px;
}

