#facts {
  position: absolute;
  right: 1%;
  top: 45%;
  width: 30%;
}

#facts tr {
  text-align: left;
  background-color: #6ad1ab;
  font-size: x-large;
  color: rgb(31, 29, 29);
}

#facts tr:nth-child(even){
  background-color: #f2f2f2;
}

#facts tr:hover {
  background-color: #ddd;
}

#facts td, #facts th {
  border: 1px solid #ddd;
  padding: 8px;
}

#facts tr td {
  font-weight: 100%;
  color: black;
  font-size: larger;
}