@import "./styles/carbcount.css";
@import "./styles/drag.css";
@import "./styles/foodbank.css";
@import "./styles/plate.css";
@import "./styles/carbmax.css";
@import "./styles/kcal.css";
@import "./styles/title.css";
@import "./styles/eatbutton.css";
@import "./styles/table.css";
@import "./styles/socialmedia.css";
@import "./styles/carbtip.css";
@import "./styles/meal-goal.css";
@import "./styles/modal.scss";
@import "./styles/music.scss";

body {
  background-image: url("./../images/background.jpg");
  background-size: 300px;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}



